.size {
    width: 200px;
}

.search {
    width: 100px;
}

.my-pagination {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.active {
    background-color: #17a2b8;
}

.form-to-find{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.form-to-find__input {  
    height: 38px;
    padding: 10px;
    border: 1px solid #eae9ea;
    border-radius: 10px 0 0 10px;
}

.form-to-find__input:focus{
    outline: none;
    height: 38px;
    padding: 10px;
    border: 1px solid #17a2b8;
    border-radius: 10px 0 0 10px;
}

.form-to-find__button {
    background-color: #6eca01;
    padding: .5rem;
    border: 1px solid black;
    border-radius: 0 10px 10px 0;
}

.form-to-find__button:hover{
    cursor: pointer;
    background-color: #6eca90;
}

.form-to-find__button:focus{
    outline: none;
    cursor: pointer;
    background-color: #6eca90;
}